@media(max-width: 1280px){
    body{
        padding: 0 40px;
    }
@media(max-width: 1200px){
    .conteudo{
        padding: 0 auto;
        margin: 0 auto;
        position: fixed;
        align-items: center;
    }
    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .info .texto{
        position: fixed;
        top: 1020px;
        left: 463px;
    }
    .info .header{
        position: fixed;
        top: 951px;
        left: 463px;
    }
    .conteudo .challenge{
        left: 500px;
    }
    .qrcode .imagem{
        position: fixed;
        top: 730px;
        right: 415px;
    }
    .conteudo .quadrado{
        left: 460px;
    }
}
