@media(max-width: 1280px){
    body{
        padding: 0 40px;
    }
@media(max-width: 768px){
    .conteudo{
        padding: 0 auto;
        margin: 0 auto;
        position: fixed;
        align-items: center;
    }
    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .info .texto{
        position: fixed;
        top: 572px;
        left: 236px;
    }
    .info .header{
        position: fixed;
        top: 505px;
        left: 238px;
    }
    .conteudo .challenge{
        left: 263px;
    }
    .qrcode .imagem{
        position: fixed;
        top:274px;
        right: 215px;
    }
    .conteudo .quadrado{
        left: 227px;
    }
}

